@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Monomakh&display=swap");

body {
  background-color: #232323;
}

.divBody {
  margin-left: 15%;
  margin-right: 15%;
}

.monomakh-regular {
  font-family: "Monomakh", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comfortaa-regular {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
